* {
    padding: 0;
    margin: 0;
    height: 100%;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-row: 45px auto;
    grid-template-areas: 
    'div1 div2 div2 div3'
    'div1 div4 div5 div3'
    'div1 div6 div6 div3';
    gap: 10px
}



.div-1{
    grid-area: div1;
    background-color: aqua;
}

.div-2{
    grid-area: div2;
    background-color: rgb(255, 0, 128);
}

.div-3{
    grid-area: div3;
    background-color: rgb(0, 255, 34);
}

.div-4{
    grid-area: div4;
    background-color: rgb(238, 255, 0);
}

.div-5{
    grid-area: div5;
    background-color: rgb(47, 0, 255);
}

.div-6{
    grid-area: div6;
    background-color: chocolate;
}