<div class="container">
  <header>
    <h1>Trier Sistemas</h1>
  </header>
  <main>
    <ul>
      <li><a routerLink="">Dashboard</a></li>
      <li><a routerLink="produto" routerLinkActive="active">Produto</a></li>
      <li><a routerLink="usuario" routerLinkActive="active">Usuario</a></li>
    </ul>
  </main>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>

<!-- <header>
<nav class="navegacao">
  <h1 class="site-title">
    Trier Sistemas
  </h1>
</nav>
</header>
<section class="main-menu">
  <div class="menu">
    <ul>
      <li><a (click)="direcionarUser()" href="">Usuários</a></li>
      <li><a href="">Produto</a></li>
    </ul>
  </div>
</section>

<section>

</section>

<router-outlet></router-outlet> -->


