div {
  width: fit-content;
}

.layout-main {
  display: flex;
}

.albuns {
  border: 1px solid black;
  padding: 50px;
  // background-image: url('../../../../../../semana-0/imagens/R.png');
  // background-size: cover;
}


