<!-- <app-componente-header [tituloDoPai]="title" (trocarTituloEvent)="trocarTitulo($event)" (pesquisar)="eventEmit($event)"></app-componente-header>
{{ procurar }}
<app-componente-content></app-componente-content> -->

<!-- <app-component-cadastro (addClientEvent)="adicionar($event)"></app-component-cadastro>
<app-component-listagem (removeClientEvent)="deletar($event)" [clientes]="clients"></app-component-listagem> -->

<header>
  <ul>
    <li>
      <a routerLink="cadastro" routerLinkActive="active">Cadastro</a>
    </li>
    <li>
      <a routerLink="lista" routerLinkActive="active">Listagem</a>
    </li>
  </ul>
</header>
<router-outlet></router-outlet>


<!-- <div *ngIf="clientes.length > 0">Clientes</div>

<ng-template #elseBlock>
  <div>Não há clientes</div>
</ng-template>

<div *ngFor="let cliente of clientes" >
  {{ cliente.nome }}
</div>

<table>
  <tr>
    <th>
      Nome
    </th>
  </tr>
  <tr *ngFor="let cliente of clientes">
    <td>
      {{ cliente.nome }}
    </td>
  </tr>
</table> -->
