.componente-bar {
  display: flex;
  height: 10%;
  background-color: aquamarine;
  box-shadow: 1px 4px 6px -4px black;
  justify-content: center;
}

.componente-lista, .componente-lista-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px
}

.componente-lista-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active {
  color: rgb(161, 161, 221) !important;
}
