h1 {
  height: fit-content;
}

.cabecalho{
  display: flex;
  height: 15%;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(193, 243, 193);
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
  1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;;
}

.container {
  display: grid;
  grid-template-columns: 150px 1fr;
  box-sizing: border-box;
  height: 85%;
}

.menu {
  background-color: cadetblue;
  box-sizing: border-box;
  height: 100%;
}

ul li{
  display: flex;
  flex-direction: column;
  height: fit-content;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

li a{
  cursor: pointer;
  width: 100%;
  padding: 20px 0px 20px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: aliceblue;
}

li a:hover {
  background-color: aquamarine;
  color: black;
  transition: 0.5s;
  animation: ease-in-out;
}

.active {
  background-color: aquamarine;
  color: black !important;
}

// .menu-btn {
//   padding: 10px 0px 10px 0px;
//   text-decoration: none;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   width: 100%;
//   color: aliceblue;


// }
