<header class="cabecalho"><h1>Restaurante</h1></header>
<div class="container">
<aside class="menu">
  <ul>
    <li><a routerLink="restaurante" routerLinkActive="active" class="menu-btn">Restaurante</a></li>
    <li><a routerLink="mesa" routerLinkActive="active" class="menu-btn">Mesa</a></li>
    <li><a routerLink="reserva" routerLinkActive="active" class="menu-btn">Reserva</a></li>
    <li><a routerLink="cliente" routerLinkActive="active" class="menu-btn">Cliente</a></li>
    <li><a routerLink="funcionario" routerLinkActive="active" class="menu-btn">Funcionário</a></li>
  </ul>
</aside>
<section class="content">
  <router-outlet></router-outlet>
</section>
</div>
