<table id="tabela">
  <tr>
    <th>
      Nome
    </th>
    <th>
      Editar
    </th>
    <th>
      Deletar
    </th>
  </tr>
  <table>
    <tr *ngFor="let cliente of clientes">
      <td>
        {{ cliente.name }}
      </td>
      <td>
        <button (click)="editar()">Editar</button>
      </td>
      <td>
        <button (click)="deletar(cliente.id)">Excluir</button>
      </td>
    </tr>
  </table>
  <!-- <tr>
    <td>
      {{ cliente }}
    </td>
    <td>
      <button>
        Editar
      </button>
    </td>
    <td>
      <button>
        Excluir
      </button>
    </td>
  </tr> -->
</table>
